#lobby-interface {
  background-color: #8d99ae;
  border-radius: 25px;
  padding: 30px;
  margin: 0;
  color: #edf2f4;
}

#lobby-buttons {
  background-color: #2b2d42;
  border: solid 1px black;
  border-radius: 25px;
  padding: 5px;
  color: #edf2f4;
}

.error-list {
  list-style-type: none;
  display: inline-block; /* Adjust display property */
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ff5a5a;
  background-color: #ffebeb;
  border-radius: 5px;
}

.error-list li {
  color: #ff5a5a; /* Set color of error message */
  font-size: 16px; /* Set font size of error message */
}
